* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(./pictures/background.jpg);
    background-size: 100% 120%;
    background-repeat: no-repeat;
}

@font-face {
    font-family: JetBrains Mono;
    src: url(./fonts/JetBrainsMono-Light.ttf);
}

@font-face {
    font-family: JetBrains Mono;
    src: url(./fonts/JetBrainsMono-Light.ttf);
    font-weight: bold;
}

#title {
    font-family: JetBrains Mono, Microft yh, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}

#title span {
    font-style: italic;
    color: #0066FF;
}

.txt {
    font-size: 18px;
}

#searchCity {
    width: 300px;
    height: 30px;
    font-size: 20px;
    padding-left: 5px;
}

#submitButton {
    width: 60px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 18px;
}

#forecastSpace {
    width: 1152px;
    height: 600px;
    margin-top: 10px;
    padding-left: 30px;
    padding-top: 20px;
    font-size: 25px;
    line-height: 38px;
    background-image: linear-gradient(to top, rgb(0, 255, 255, 0.5), rgb(224, 255, 255, 0.7)) ;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-image: url();
    display: inline-block;
}

#pics {
    margin-top: 10px;
    width: 470px;
    height: 590px;
    border: 0;
    position: absolute;
    right: 0;
    top: 100px;
    overflow: hidden;
}

@keyframes slide {
    from {
        right: 460px;
    }
    to {
        right: -460px;
    }
}

@-webkit-keyframes slide {
    from {
        right: 460px;
    }
    to {
        right: -460px;
    }
}

#show {
    height: 100%;
    position: relative;
    animation: slide 5s cubic-bezier(0.1, 0.8, 0.8, 0.1) infinite alternate;
    animation-fill-mode: forwards;
}

.buttonList {
    width: 120px;
    height: 80px;
    border: none;
    cursor: pointer;
    float: left;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    font-size: 20px;
    background-image: linear-gradient(to bottom, rgb(0, 255, 255, 0.5), rgb(224, 255, 255, 0.7));
}

.buttonList span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.buttonList span:after{
    content: "↑";
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.buttonList:hover span {
    padding-right: 15px;
    animation: glow 0.5s ease infinite alternate;
    -webkit-animation: glow 0.5s ease infinite alternate;
}

@keyframes glow {
    from {
        text-shadow:0 0 5px #FFFFFF, 0 0 10px #FFFFFF, 0 0 20px #FFFFFF;
    }
    to {
        text-shadow:0 0 5px #FFFFFF, 0 0 10px #FFFFFF, 0 0 20px #FFFFFF , 0 0 30px #FFFFFF, 0 0 40px #FFFFFF;
    }
}

@-webkit-keyframes glow {
    from {
        text-shadow:0 0 5px #FFFFFF, 0 0 10px #FFFFFF, 0 0 20px #FFFFFF;
    }
    to {
        text-shadow:0 0 5px #FFFFFF, 0 0 10px #FFFFFF, 0 0 20px #FFFFFF , 0 0 30px #FFFFFF, 0 0 40px #FFFFFF;
    }
}

.buttonList:active {
    opacity: 0.7;
}

.buttonList:hover span::after {
    opacity: 1;
    right: 0;
}

audio {
    position:absolute;
    bottom: 0;
    right: 0;
    background-color: lightyellow;
}